[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
core-utils = {git = "https://github.com/VIGILANCE-IVA/core-utils.git"}
aiohttp = "*"
aiohttp-cors = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.6"
